# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [3]:
import pandas as pd
import numpy as np

# Seu código aqui

#### 2) Coloque os anos nos índices conforme a tabela.

In [5]:

# seu código aqui
# Dados
dados = {'ano': [1900, 1920, 1940, 1960, 1980, 2000, 2020],
         'anomalia termica': [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]}

# Criando a série do pandas
serie_temperatura = pd.Series(dados['anomalia termica'], index=dados['ano'])

# Exibindo a série
print(serie_temperatura)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [7]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
serie_temperaturas = pd.Series(dic_temperaturas)

# Exibindo a série
print(serie_temperaturas)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [9]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
df = pd.DataFrame(arr, columns=['Coluna1', 'Coluna2', 'Coluna3'])
print(df)

       Coluna1     Coluna2     Coluna3
0   100.737597  104.475935  102.240496
1   102.296289   79.522429   88.451324
2   101.456740  100.340437   98.858895
3   114.846343   97.108999   89.052376
4   108.287505   79.912515   97.059711
5   109.605197  102.147017  108.719995
6    95.034674  102.361113  105.430379
7   108.050780   90.324523  111.176758
8    81.400207  111.335808  104.000599
9   107.208901   98.736409   92.266432
10   97.221738  104.985391  119.375132
11   99.045951  118.987245   97.578499
12   84.007834  100.599159  106.588612
13  104.837113  101.195670  106.829468
14  104.286738   94.235005  103.236405
15   99.350025   86.784887  106.623343
16   83.326765   98.944247   95.798009
17  102.380751  101.227087   96.213114
18   88.423533  111.448186  106.256618
19   92.606861   95.546826   98.799564

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [11]:
#seu código aqui
df = pd.DataFrame(arr, index=range(1, 21), columns=['x1', 'x2', 'x3'])
print(df)

            x1          x2          x3
1   100.737597  104.475935  102.240496
2   102.296289   79.522429   88.451324
3   101.456740  100.340437   98.858895
4   114.846343   97.108999   89.052376
5   108.287505   79.912515   97.059711
6   109.605197  102.147017  108.719995
7    95.034674  102.361113  105.430379
8   108.050780   90.324523  111.176758
9    81.400207  111.335808  104.000599
10  107.208901   98.736409   92.266432
11   97.221738  104.985391  119.375132
12   99.045951  118.987245   97.578499
13   84.007834  100.599159  106.588612
14  104.837113  101.195670  106.829468
15  104.286738   94.235005  103.236405
16   99.350025   86.784887  106.623343
17   83.326765   98.944247   95.798009
18  102.380751  101.227087   96.213114
19   88.423533  111.448186  106.256618
20   92.606861   95.546826   98.799564

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [13]:
# seu código aqui
df['media'] = df.mean(axis=1)
print(df)

            x1          x2          x3       media
1   100.737597  104.475935  102.240496  102.484676
2   102.296289   79.522429   88.451324   90.090014
3   101.456740  100.340437   98.858895  100.218691
4   114.846343   97.108999   89.052376  100.335906
5   108.287505   79.912515   97.059711   95.086577
6   109.605197  102.147017  108.719995  106.824070
7    95.034674  102.361113  105.430379  100.942055
8   108.050780   90.324523  111.176758  103.184020
9    81.400207  111.335808  104.000599   98.912205
10  107.208901   98.736409   92.266432   99.403914
11   97.221738  104.985391  119.375132  107.194087
12   99.045951  118.987245   97.578499  105.203898
13   84.007834  100.599159  106.588612   97.065202
14  104.837113  101.195670  106.829468  104.287417
15  104.286738   94.235005  103.236405  100.586049
16   99.350025   86.784887  106.623343   97.586085
17   83.326765   98.944247   95.798009   92.689674
18  102.380751  101.227087   96.213114   99.940317
19   88.423533  111.448186  106.256618  102.042779
20   92.606861   95.546826   98.799564   95.651084

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [15]:
# seu código aqui
df['log_med'] = np.log(df['media'])
print(df)

            x1          x2          x3       media   log_med
1   100.737597  104.475935  102.240496  102.484676  4.629713
2   102.296289   79.522429   88.451324   90.090014  4.500809
3   101.456740  100.340437   98.858895  100.218691  4.607355
4   114.846343   97.108999   89.052376  100.335906  4.608524
5   108.287505   79.912515   97.059711   95.086577  4.554788
6   109.605197  102.147017  108.719995  106.824070  4.671183
7    95.034674  102.361113  105.430379  100.942055  4.614547
8   108.050780   90.324523  111.176758  103.184020  4.636514
9    81.400207  111.335808  104.000599   98.912205  4.594233
10  107.208901   98.736409   92.266432   99.403914  4.599191
11   97.221738  104.985391  119.375132  107.194087  4.674641
12   99.045951  118.987245   97.578499  105.203898  4.655900
13   84.007834  100.599159  106.588612   97.065202  4.575383
14  104.837113  101.195670  106.829468  104.287417  4.647151
15  104.286738   94.235005  103.236405  100.586049  4.611014
16   99.350025   86.784887  106.623343   97.586085  4.580735
17   83.326765   98.944247   95.798009   92.689674  4.529257
18  102.380751  101.227087   96.213114   99.940317  4.604573
19   88.423533  111.448186  106.256618  102.042779  4.625392
20   92.606861   95.546826   98.799564   95.651084  4.560707